{% extends 'layout.html' %}

{% block body %}
<h1>Welcome to Biblicity</h1>

<p>I’m glad you could join us. There isn’t a whole lot to see here yet, but we’re working hard to make this the best place on the web to read the Bible and interact with others about it. In the meantime, go ahead and write anything you like in your own account, and please let me know if you have any suggestions.</p>

<p>Blessings,</p>
<p>Sean Harrison<br/>
	&lt;<a href="mailto:sah@biblicity.net">sah@biblicity.net</a>&gt;</p>

{% end %}